NEXT_PUBLIC_SUPABASE_URL=https://ejjucfbklrdzzpiqpuqd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVqanVjZmJrbHJkenpwaXFwdXFkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA5NTQzMTQsImV4cCI6MjA5NjUzMDMxNH0.Z6b0t-ma_NNQ3zu-uKyhwbweioWVyRGh23OZbDtBHtQ
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVqanVjZmJrbHJkenpwaXFwdXFkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDk1NDMxNCwiZXhwIjoyMDk2NTMwMzE0fQ.MIYW2J6ZF-tBKyw0IF3x02MPrKrpWe03kOP-hjXv9u8
NEXT_PUBLIC_APP_URL=http://localhost:3000
